.contacts-wrap{
  display: grid;
  grid-template-columns: 55fr 45fr;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  h1{
    grid-column: 1 / -1;
    margin-bottom: 20px;
  }
  h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  .contacts-form{
    label{
      margin-bottom: 5px;
    }
    input{
      width: 100%;
      background-color: transparent;
      color: rgb(156, 156, 156);
      padding: 5px 10px;
      border-radius: 10px;
      border:1px solid rgb(156, 156, 156);
      margin-bottom: 10px;
    }
    #file{
      padding: 2px;
    }
  }
  .contacts-info{
    margin-left: 20px;
    .contacts-info-item{
      margin-bottom: 10px;
    }
  }
}

.contacts-info{
  font-size: 12px;
}

.contacts-icons{
  display: flex;
  gap: 10px;
  padding: 0;
}

@media (max-width: 565px) {
  .contacts-wrap{
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .contacts-info{
    margin: 0 !important;
  }
}