footer{ 
  background-color: #2e2e2e;
  color: #fff;
  padding: 20px 0;
  a{
    color: #fff;
    transition: all 0.5s;
  }
}

.footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 767px) { 
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}
  .title {
    font-weight: 700;
    margin-bottom: 15px;
  }
  .li{
    margin-bottom: 5px;
  }
  a:hover{
    color: rgb(205, 205, 205);
  }
  &_contacts{
    font-size: 12px;
    .footer-info-item{
      margin-bottom: 10px;
      .info-title{text-transform: uppercase;}
      p{color: #ccd8df;}
    }
    .footer_icons{
      display: flex;
      gap: 10px;
    }    
  }
  &_form{
    .input{
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 20px;
    }
    .button{
      width: 100%;
      padding: 5px 10px;
      background-color: yellow;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .p{
      font-size: 12px;
      margin-bottom: 10px;
      .a{
        text-decoration: underline;
      }
    } 
  }
}